<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Test Scores</title>
  </head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>

<h2>Student Table</h2>
<a href="/add_test">Add</a>
<a href = "/">Home</a>
<a href = "/stud_data">Insights</a>

<table>

  <tr>
    <th>Test ID</th>
    <th>Student</th>
    <th>Score</th>
    <th>Subject</th>
    <th>#</th>
  </tr>
  {% for test in tests %}
  <tr>
   <td>{{test.tID}}</td> 
   <td>{{test.sID}}</td>
   <td>{{test.score}}</td>
   <td>{{test.subject}}</td>
   <td><a href="{% url 'UpdateTest' test.tID %}">Update</a> / <a href="{% url 'DeleteTest' test.tID %}">Delete</a></td>

  </tr>
  {% endfor%}
</table>

</body>
</html>